@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  font-weight: 400; /* Regular */
  @apply text-gray-900;
}

h1 {
  font-size: 64px;
  font-weight: 600; /* Semi-bold */
  @apply text-gray-900;
}

h2 {
  font-size: 48px;
  font-weight: 600; /* Semi-bold */
  @apply text-gray-900;
}

h3 {
  font-size: 32px;
  font-weight: 600; /* Semi-bold */
  @apply text-gray-900;
}

h4 {
  font-size: 24px;
  font-weight: 600; /* Semi-bold */
  @apply text-gray-900;
}

h5 {
  font-size: 16px;
  font-weight: 700; /* Bold */
  @apply text-gray-900;
}

h6 {
  font-size: 16px;
  font-weight: 400; /* Regular */
  font-style: italic; /* Italic */
  @apply text-gray-900;
}

.caption {
  font-size: 12px;
  font-weight: 400; /* Regular */
  @apply text-gray-800;
}
